<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
	</connectionStrings>
	

	<configSections>
		<sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Semesterprojekt_Datenbank.WPF.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Semesterprojekt_Datenbank.WPF.Properties.Settings>
			<setting name="SqliteDbFilePath" serializeAs="String">
				<value>Database.db</value>
			</setting>
			<setting name="BackgroundColor" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="TextColor" serializeAs="String">
				<value>Black</value>
			</setting>
		</Semesterprojekt_Datenbank.WPF.Properties.Settings>
	</applicationSettings>
</configuration>