<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!-- Original ConnectionString: name="connection" -->
		<add name="connection"  connectionString="Server=LAPTOP-AA7RTN6F\MSSQLZBW; Database=SemesterarbeitDBS; Trusted_Connection=true; Encrypt=false;" providerName="System.Data.SqlClient"/>

	</connectionStrings>
	<appSettings>
		<add key="PathZipCodes" value="C:\ZbWworkspace\3tes_Semester\Datenbank Advanced\Semesterprojekt_Datenbank\Semesterprojekt Datenbank\plz_verzeichnis_new (1).csv"/>
		
	</appSettings>
</configuration>