<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!-- Original ConnectionString: name="connection" -->
		<add name="connection" connectionString="Server=DESKTOP-PMVN625; Database=SemesterarbeitDBS; Trusted_Connection=true; Encrypt=false;" providerName="System.Data.SqlClient"/>


		<!-- Connection String Kim -->
		<!-- <add name="connection" connectionString="Server=Koneko\KONEKO; Database=SemesterarbeitDBS; Trusted_Connection=true; Encrypt=false;" providerName="System.Data.SqlClient"/> -->

		<!-- Connection String Ousama -->
		<!-- <add name="connection" connectionString="Server=DESKTOP-PMVN625; Database=SemesterarbeitDBS; Trusted_Connection=true; Encrypt=false;" providerName="System.Data.SqlClient"/> -->

		<!-- Connection String Leandro -->
		<!-- <add name="connection" connectionString="Server=10.211.55.2; Database=SemesterarbeitDBS;User Id=sa; Password=3dgeY0urB3ts; Integrated Security = false; Encrypt=false;" providerName="System.Data.SqlClient"/> -->

	</connectionStrings>
</configuration>